html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.p5canvas {
  -webkit-filter: url("#displacement");
  filter: url("#displacement");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(icon-fonts/MaterialIcons-Regular.woff2) format("woff2"), url(icon-fonts/MaterialIcons-Regular.woff) format("woff"), url(icon-fonts/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-VariableFont_wght"), url(fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.er-toolbar {
  position: absolute;
  left: 45px;
  top: 260px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  width: 124px;
}

.er-toolbar__tool-button-wrapper {
  border: 1px solid #ddd;
  border-bottom: none;
  font-size: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.er-toolbar__button {
  font-family: 'Roboto Mono';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.er-toolbar__button:nth-child(2n) {
  border-right: none;
}

.er-toolbar__button::before {
  position: absolute;
  display: block;
  font-family: 'IcoMoon-Free';
  font-size: 24px;
  width: 50px;
  text-align: center;
  line-height: 56px;
}

.er-toolbar__button--rect::before {
  content: '\ea53';
}

.er-toolbar__button--ellipse::before {
  content: '\ea56';
}

.er-toolbar__button--superellipse::before {
  content: '\ea56';
}

.er-toolbar__button--polygon::before {
  content: '\e908';
}

.er-toolbar__button--text::before {
  content: '\ea60';
}

.er-toolbar__button--select::before {
  content: '\ea03';
}

.er-toolbar__button.is-active {
  background: #333;
  color: #fff;
}

.er-toolbar-title {
  font-family: 'Roboto Mono';
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  border-top: 1px solid #ddd;
  padding-top: 0.5em;
}

.er-toolbar-title:first-child {
  border: none;
}

.er-toolbar-title--small {
  font-size: 12px;
  font-weight: normal;
  border: none;
  padding: 0;
}

.er-inksetting {
  margin-bottom: 10px;
}

.er-inksetting__ink-display {
  width: 100%;
  height: 32px;
  position: relative;
  font-family: 'Roboto Mono';
  font-weight: normal;
  border: 1px solid #ddd;
  border-bottom: none;
  vertical-align: middle;
}

.er-inksetting__ink-label {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
  margin: 0.55em 0.3em;
}

.er-inksetting__ink-name {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  max-width: 58%;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.er-inksetting__ink-switch-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.er-inksetting__ink-switch-button::after {
  font-family: 'IcoMoon-Free';
  font-size: 12px;
  content: '\ea2e';
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}

.er-inksetting__close-button {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.er-inksetting__close-button:hover::after {
  color: rgba(0, 0, 0, 0.3);
}

.er-inksetting__close-button::after {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: 'IcoMoon-Free';
  font-size: 20px;
  color: #ddd;
  content: '\ea0d';
}

.er-inksetting__ink-select {
  display: none;
  position: absolute;
  width: 320px;
  top: 15px;
  left: 120px;
  padding: 10px;
  margin: 0;
  z-index: 10;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: default;
}

.er-inksetting__ink-select::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -32px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 30px 30px 0;
  border-color: transparent #ddd transparent transparent;
}

.er-inksetting__ink-select::after {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 30px 30px 0;
  border-color: transparent #ffffff transparent transparent;
}

.er-inksetting__ink-select.is-shown {
  display: block;
}

.er-inksetting__ink-select-name {
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 6px 0;
}

.er-inksetting__ink-select-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.er-inksetting__ink-select-item {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 10%;
  height: auto;
  padding: 0;
  padding-top: 10%;
  margin: 0;
  font-size: 0;
  vertical-align: bottom;
  border: 1px solid #ddd;
  cursor: pointer;
}

.er-inksetting__ink-select-item.is-active::after {
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  font-family: 'IcoMoon-Free';
  font-size: 20px;
  line-height: 1;
  content: '\ea10';
  color: #fff;
}

.er-inksetting__ink-select-item.is-disabled {
  cursor: not-allowed;
}

.er-inksetting__ink-select-item.is-ink-A::after {
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  content: 'A';
  color: #000;
  background: #fff;
  font-family: 'Roboto Mono';
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
}

.er-inksetting__ink-select-item.is-ink-B::after {
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  content: 'B';
  color: #000;
  background: #fff;
  font-family: 'Roboto Mono';
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
}

.er-inksetting__ink-select-item.is-ink-C::after {
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  content: 'C';
  color: #000;
  background: #fff;
  font-family: 'Roboto Mono';
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
}

.er-inksetting__ink-select-item.is-ink-D::after {
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  content: 'D';
  color: #000;
  background: #fff;
  font-family: 'Roboto Mono';
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
}

.er-color-selector {
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #ddd;
}

.er-color-selector__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.er-color-selector__list-item {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: calc(33.3%);
  height: auto;
  margin: 0;
  padding: 0;
  padding-top: 33.3%;
  font-size: 0px;
  line-height: 1;
  vertical-align: bottom;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.er-color-selector__list-item--targetInkFill-transparent, .er-color-selector__list-item--targetInkStroke-transparent {
  background-color: #f9f9f9;
  background-size: auto auto;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 46%, red 46%, red 54%);
}

.er-color-selector__list-item.is-active::before {
  display: block;
  position: absolute;
  content: '';
  background: transparent;
  width: 94%;
  height: 94%;
  left: 5%;
  top: 5%;
  box-sizing: border-box;
  border: 2px solid #000;
}

.er-color-selector__list-item.is-active::after {
  display: block;
  position: absolute;
  content: '';
  background: transparent;
  width: 94%;
  height: 94%;
  left: 3%;
  top: 3%;
  box-sizing: border-box;
  border: 2px solid #fff;
}

.er-cutouts-setting {
  margin-bottom: 10px;
}

.er-cutouts-setting__master {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  font-size: 0;
  vertical-align: bottom;
}

.er-cutouts-setting__master span {
  display: block;
  width: 16px;
  height: 16px;
  background: #fff;
  font-family: 'Roboto Mono';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
  margin: 0.2em;
}

.er-cutouts-setting__master::after {
  display: block;
  position: absolute;
  width: 12px;
  height: 22px;
  right: -14px;
  top: 0;
  font-family: 'IcoMoon-Free';
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #ddd;
  content: '\ea40';
}

.er-cutouts-setting__list {
  display: inline-block;
  margin: 0;
  margin-left: 12px;
  padding: 0;
}

.er-cutouts-setting__item {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.er-cutouts-setting__item span {
  display: block;
  width: 16px;
  height: 16px;
  background: #fff;
  font-family: 'Roboto Mono';
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
  text-shadow: 1px 1px 0 #fff;
  margin: 0.2em;
  cursor: pointer;
}

.er-cutouts-setting__item.is-disabled span {
  background: none !important;
}

.er-stroke-weight-setting {
  margin-bottom: 10px;
}

.er-stroke-weight-setting__button {
  display: inline-block;
  width: 28px;
  height: 32px;
  cursor: pointer;
  text-align: center;
}

.er-stroke-weight-setting__button::after {
  font-family: 'IcoMoon-Free';
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 32px;
}

.er-stroke-weight-setting__button--minus::after {
  content: '\ea0b';
}

.er-stroke-weight-setting__button--plus::after {
  content: '\ea0a';
}

.er-stroke-weight-setting__input {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 56px);
  height: 32px;
  font-family: 'Roboto-Mono';
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.er-expansion-setting {
  margin-bottom: 10px;
}

.er-expansion-setting__slider {
  width: 100%;
}

.er-vertex-type-selector {
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #ddd;
}

.er-vertex-type-selector input {
  vertical-align: middle;
}

.er-vertex-type-selector label {
  font-family: 'Roboto Mono';
  font-size: 12px;
  font-weight: normal;
}

.er-vertex-type-selector label::after {
  content: '\A';
  white-space: pre;
}
