// colors
$color-border: #ddd;
$color-active: #333;

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.p5canvas {
  -webkit-filter: url("#displacement");
  filter: url("#displacement");
}

// icon fonts
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(icon-fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(icon-fonts/MaterialIcons-Regular.woff) format('woff'),
       url(icon-fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'),
       local('RobotoMono-VariableFont_wght'),
       url(fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// tool bar
.er-toolbar {
  position: absolute;
  left: 45px;
  top: 260px;
  border: 1px solid $color-border;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  width: 124px;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  &__tool-button-wrapper {
    border: 1px solid $color-border;
    border-bottom: none;
    font-size: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  &__button {
    font-family: 'Roboto Mono';
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: relative;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    &:nth-child(2n) {
      border-right: none;
    }
    &::before {
      position: absolute;
      display: block;
      font-family: 'IcoMoon-Free';
      font-size: 24px;
      width: 50px;
      text-align: center;
      line-height: 56px;
    }
    &--rect {
      &::before {
        content: '\ea53';
      }
    }
    &--ellipse {
      &::before {
        content: '\ea56';
      }
    }
    &--superellipse {
      &::before {
        content: '\ea56';
      }
    }
    &--polygon {
      &::before {
        content: '\e908';
      }
    }
    &--text {
      &::before {
        content: '\ea60';
      }
    }
    &--select {
      &::before {
        content: '\ea03';
      }
    }
    &.is-active {
      background: $color-active;
      color: #fff;
    }
  }
}
.er-toolbar-title {
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  &--small {
    font-size: 12px;
    font-weight: normal;
  }
}
.er-color-selector {
  margin: 0;
  padding: 5px;
  border: 1px solid $color-border;
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: calc(33.3%);
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 33.3%;
    font-size: 0px;
    line-height: 1;
    vertical-align: bottom;
    &.is-active {
      &::after {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        font-family: 'IcoMoon-Free';
        font-size: 20px;
        line-height: 1;
        content: '\ea10';
        color: #fff;
      }
    }
  }
}
