// colors
$color-border: #ddd;
$color-active: #333;

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.p5canvas {
  -webkit-filter: url("#displacement");
  filter: url("#displacement");
}

// icon fonts
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(icon-fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(icon-fonts/MaterialIcons-Regular.woff) format('woff'),
       url(icon-fonts/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'),
       local('RobotoMono-VariableFont_wght'),
       url(fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// tool bar
.er-toolbar {
  position: absolute;
  left: 45px;
  top: 260px;
  border: 1px solid $color-border;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  width: 124px;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  &__tool-button-wrapper {
    border: 1px solid $color-border;
    border-bottom: none;
    font-size: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  &__button {
    font-family: 'Roboto Mono';
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    position: relative;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    &:nth-child(2n) {
      border-right: none;
    }
    &::before {
      position: absolute;
      display: block;
      font-family: 'IcoMoon-Free';
      font-size: 24px;
      width: 50px;
      text-align: center;
      line-height: 56px;
    }
    &--rect {
      &::before {
        content: '\ea53';
      }
    }
    &--ellipse {
      &::before {
        content: '\ea56';
      }
    }
    &--superellipse {
      &::before {
        content: '\ea56';
      }
    }
    &--polygon {
      &::before {
        content: '\e908';
      }
    }
    &--text {
      &::before {
        content: '\ea60';
      }
    }
    &--select {
      &::before {
        content: '\ea03';
      }
    }
    &.is-active {
      background: $color-active;
      color: #fff;
    }
  }
}
.er-toolbar-title {
  font-family: 'Roboto Mono';
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  border-top: 1px solid $color-border;
  padding-top: 0.5em;
  &:first-child {
    border: none;
  }
  &--small {
    font-size: 12px;
    font-weight: normal;
    border: none;
    padding: 0;
    margin-bottom: 0.25em;
  }
}

.er-inksetting {
  margin-bottom: 10px;
  &__ink-display {
    width: 100%;
    height: 32px;
    position: relative;
    font-family: 'Roboto Mono';
    font-weight: normal;
    border: 1px solid $color-border;
    border-bottom: none;
    vertical-align: middle;
  }
  &__ink-label {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    border: 1px solid $color-border;
    margin: 0.55em 0.3em;
  }
  &__ink-name {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    max-width: 58%;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__ink-switch-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &::after {
      font-family: 'IcoMoon-Free';
      font-size: 12px;
      content: '\ea2e';
      position: absolute;
      right: 5px;
      top: 10px;
      color: #fff;
      text-shadow: 1px 1px 0 #000;
    }
  }
  &__close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      &::after {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      font-family: 'IcoMoon-Free';
      font-size: 20px;
      color: $color-border;
      content: '\ea0d';
    }
  }
  &__ink-select {
    display: none;
    position: absolute;
    width: 320px;
    top: 15px;
    left: 120px;
    padding: 10px;
    margin: 0;
    z-index: 10;
    background: #fff;
    border: 1px solid $color-border;
    box-sizing: border-box;
    cursor: default;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -32px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 30px 30px 0;
      border-color: transparent $color-border transparent transparent;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 30px 30px 0;
      border-color: transparent #ffffff transparent transparent;
    }
    &.is-shown {
      display: block;
    }
  }
  &__ink-select-name {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 6px 0;
  }
  &__ink-select-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__ink-select-item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 10%;
    height: auto;
    padding: 0;
    padding-top: 10%;
    margin: 0;
    font-size: 0;
    vertical-align: bottom;
    border: 1px solid $color-border;
    cursor: pointer;
    &.is-active {
      &::after {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        font-family: 'IcoMoon-Free';
        font-size: 20px;
        line-height: 1;
        content: '\ea10';
        color: #fff;
      }
    }
    &.is-disabled {
      cursor: not-allowed;
    }
    &.is-ink-A {
      &::after {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        content: 'A';
        color: #000;
        background: #fff;
        font-family: 'Roboto Mono';
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 100%;
        border: 1px solid $color-border;
      }
    }
    &.is-ink-B {
      &::after {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        content: 'B';
        color: #000;
        background: #fff;
        font-family: 'Roboto Mono';
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 100%;
        border: 1px solid $color-border;
      }
    }
    &.is-ink-C {
      &::after {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        content: 'C';
        color: #000;
        background: #fff;
        font-family: 'Roboto Mono';
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 100%;
        border: 1px solid $color-border;
      }
    }
    &.is-ink-D {
      &::after {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        content: 'D';
        color: #000;
        background: #fff;
        font-family: 'Roboto Mono';
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: 100%;
        border: 1px solid $color-border;
      }
    }
  }
}

.er-color-selector {
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid $color-border;
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: calc(33.3%);
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 33.3%;
    font-size: 0px;
    line-height: 1;
    vertical-align: bottom;
    border: 1px solid $color-border;
    box-sizing: border-box;
    &--targetInkFill-transparent,
    &--targetInkStroke-transparent {
      background-color: #f9f9f9;
      background-size: auto auto;
      background-image: repeating-linear-gradient(135deg, transparent, transparent 46%, rgba(255, 0, 0, 1) 46%, rgba(255, 0, 0, 1) 54%);
    }
    &.is-active {
      &::before {
        display: block;
        position: absolute;
        content: '';
        background: transparent;
        // left: 6px;
        // top: 7px;
        // font-family: 'IcoMoon-Free';
        // font-size: 16px;
        // line-height: 1;
        // content: '\ea10';
        // color: #fff;
        width: 94%;
        height: 94%;
        left: 5%;
        top: 5%;
        box-sizing: border-box;
        border: 2px solid #000;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        background: transparent;
        width: 94%;
        height: 94%;
        left: 3%;
        top: 3%;
        box-sizing: border-box;
        border: 2px solid #fff;
      }
    }
  }
}

.er-cutouts-setting {
  margin-bottom: 10px;
  &__master {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;
    font-size: 0;
    vertical-align: bottom;
    span {
      display: block;
      width: 16px;
      height: 16px;
      background: #fff;
      font-family: 'Roboto Mono';
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      border-radius: 100%;
      border: 1px solid $color-border;
      margin: 0.2em;
    }
    &::after {
      display: block;
      position: absolute;
      width: 12px;
      height: 22px;
      right: -14px;
      top: 0;
      font-family: 'IcoMoon-Free';
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      color: $color-border;
      content: '\ea40';
    }
  }
  &__list {
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    padding: 0;
  }
  &__item {
    display: inline-block;
    width: 22px;
    height: 22px;
    span {
      display: block;
      width: 16px;
      height: 16px;
      background: #fff;
      font-family: 'Roboto Mono';
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      border-radius: 100%;
      border: 1px solid $color-border;
      text-shadow: 1px 1px 0 #fff;
      margin: 0.2em;
      cursor: pointer;
    }
    &.is-disabled {
      span {
        background: none !important;
      }
    }
  }
}

.er-stroke-weight-setting,
.er-font-size-setting {
  margin-bottom: 10px;
  &__button {
    display: inline-block;
    width: 28px;
    height: 32px;
    cursor: pointer;
    text-align: center;
    &::after {
      font-family: 'IcoMoon-Free';
      font-size: 16px;
      color: #000;
      text-align: center;
      line-height: 32px;
    }
    &--minus {
      &::after {
        content: '\ea0b';
      }
    }
    &--plus {
      &::after {
        content: '\ea0a';
      }
    }
  }
  &__input {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 56px);
    height: 32px;
    font-family: 'Roboto-Mono';
    font-size: 16px;
    text-align: center;
    margin: 0;
  }
}

.er-expansion-setting {
  margin-bottom: 10px;
  &__slider {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.er-vertex-type-selector {
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid $color-border;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    font-family: 'Roboto Mono';
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    cursor: pointer;
    vertical-align: middle;
    &::before {
      font-family: 'IcoMoon-Free';
      content: '\ea56';
      font-size: 16px;
      line-height: 24px;
      color: $color-border;
      vertical-align: middle;
      margin-right: 0.25em;
    }
    &.is-active {
      &::before {
        content: '\ea55';
        color: #000;
      }
    }
  }
  &__slider {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    &.is-shown {
      display: block;
    }
  }
}
.er-font-selector {
  &__font-display {
    position: relative;
    width: 100%;
    height: 32px;
    border: 1px solid $color-border;
    box-sizing: border-box;
    padding: 0 0.25em;
    margin-bottom: 10px;
    span {
      display: block;
      width: calc(100% - 1.25em);
      font-size: 12px;
      line-height: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__font-select {
    display: none;
    width: auto;
    position: absolute;
    top: 15px;
    left: 120px;
    padding: 10px;
    margin: 0;
    z-index: 10;
    background: #fff;
    border: 1px solid $color-border;
    box-sizing: border-box;
    cursor: default;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -32px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 30px 30px 0;
      border-color: transparent $color-border transparent transparent;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 30px 30px 0;
      border-color: transparent #ffffff transparent transparent;
    }
    &.is-shown {
      display: block;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item {
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    border-bottom: 1px solid $color-border;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    &:hover {
      color: #000;
    }
  }
  &__switch-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &::after {
      font-family: 'IcoMoon-Free';
      font-size: 12px;
      content: '\ea2e';
      position: absolute;
      right: 5px;
      top: 10px;
      color: #000;
      // text-shadow: 1px 1px 0 #000;
    }
  }
  &__close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      &::after {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    &::after {
      position: absolute;
      top: 2px;
      right: 2px;
      font-family: 'IcoMoon-Free';
      font-size: 20px;
      color: $color-border;
      content: '\ea0d';
    }
  }
}
.er-text-string-input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  font-family: 'Roboto-Mono';
  font-size: 12px;
  line-height: 32px;
  margin-bottom: 10px;
}

// object options
.er-object-options {
  position: absolute;
  right: 45px;
  top: 260px;
  border: 1px solid $color-border;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  width: 124px;
  &__input {
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    font-family: 'Roboto-Mono';
    font-size: 12px;
    line-height: 32px;
    margin-bottom: 10px;
  }
}
